

<div [hidden]="workstations.length > 0 || refreshing" class="jumbotron">
    <h2>There is no connected workstations</h2>
</div>

<div [hidden]="!refreshing" class="jumbotron">
    <h2>Refreshing data</h2>
</div>

<div *ngFor="let workstation of workstations">
    <workstation-component [workstation]="workstation" (onSessionLogoff)="OnSessionLogoff($event)">
    </workstation-component>
</div>

<button class="btn-success btn-lg" (click)="RefreshData()"><span class="glyphicon glyphicon-refresh"></span></button>