<h1>Description</h1>
<h2>System session tracker</h2>
<p>This application allows you to:</p>
<ul>
  <li>Track sessions on connected workstations</li>
  <li>Logoff sessions via web UI</li>
</ul>
<a [routerLink]='["/workstations"]'><h2>Go to sessions grid</h2></a>
