<hr/>
<h4 class="title">{{workstation.info.machineName}}</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Session#</th>
            <th scope="col">Domain</th>
            <th scope="col">User</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of workstation.info.sessions">
          <th scope="row">{{item.sessionId}}</th>
          <td>{{item.domain}}</td>
          <td>{{item.userName}}</td>
          <td>{{item.state}}</td>
          <td>
            <button class="btn-danger btn-sm" [disabled]="item['isdeleted']" (click)="onSessionRemove(item.sessionId); item['isdeleted']=true">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
    </tbody>
</table>